<div class="list-group">
    <h3 class="list-group-item-action text-uppercase">
        <span>Danh mục</span>
    </h3>
    <a href="{{ path('news_category', {'level1': 'cham-soc-da' }) }}" class="list-group-item td-list-group-item item-price" title="Chăm sóc da">
        <span>Chăm sóc da</span>
    </a>
    <a href="{{ path('news_category', {'level1': 'cham-soc-toc' }) }}" class="list-group-item td-list-group-item item-price" title="Chăm sóc tóc">
        <span>Chăm sóc tóc</span>
    </a>
    <a href="{{ path('news_category', {'level1': 'khuyen-mai' }) }}" class="list-group-item td-list-group-item item-price" title="Khuyến mãi">
        <span>Khuyến mãi</span>
    </a>
</div>

<div class="list-group">
    <h3 class="list-group-item-action text-uppercase">
        <span>{{ 'news.recent'|trans }}</span>
    </h3>
    {% for row in posts %}
        <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" class="list-group-item td-list-group-item" title="{{ row.getTitle() }}">
            <img
                class="lazyload"
                alt="{{ row.getTitle() }}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_70_50') }}" />
            <span>{{ row.getTitle() }}</span>
        </a>
    {% endfor %}
</div>