{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungminhduy.com/",
        "logo": "https://xaydungminhduy.com/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84982969379",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungminhduy.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungminhduy.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Minh Duy",
        "url": "https://xaydungminhduy.com/",
        "sameAs": [
            "{{ get_setting('linkToFacebook') }}",
            "{{ get_setting('linkToTwitter') }}",
            "{{ get_setting('linkToYoutube') }}",
            "{{ get_setting('linkToLinkedin') }}"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        
        <div class="container homepage-cat-hot">
            <div class="row">
                <div class="item col-6 col-sm-4 three-blocks">
                    <div class="sub-banner banner-item">
                        <div class="img-box">
                            <a href="" class="animate-scale">
                                <img data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-1-compressor_1200x_crop_center.jpg?v=1568964367" alt="cospora-theme" class="lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="380px" src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-1-compressor_1200x_crop_center.jpg?v=1568964367">
                            </a>
                        </div>
                        <div class="content-box">
                            <h3 class="banner-title" style="color: #fff;">
                                <span>
                                    Lipstick
                                </span>
                                <span class="border-bt-hover" style="background-color: #fff;"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="item col-6 col-sm-4 three-blocks">
                    <div class="sub-banner banner-item">
                        <div class="img-box">
                            <a href="" class="animate-scale">
                                <img data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-2-compressor_1200x_crop_center.jpg?v=1568964382" alt="cospora-theme" class="lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="380px" src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-2-compressor_1200x_crop_center.jpg?v=1568964382">
                            </a>
                        </div>
                        <div class="content-box">
                            <h3 class="banner-title" style="color: #fff;">
                                <span>
                                    Makeup
                                </span>
                                <span class="border-bt-hover" style="background-color: #fff;"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="item col-6 col-sm-4 three-blocks">
                    <div class="sub-banner banner-item">
                        <div class="img-box">
                            <a href="" class="animate-scale">
                                <img data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-3-compressor_1200x_crop_center.jpg?v=1568964390" alt="cospora-theme" class="lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="380px" src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/banner-top-3-compressor_1200x_crop_center.jpg?v=1568964390">
                            </a>
                        </div>
                        <div class="content-box">
                            <h3 class="banner-title" style="color: #fff;">
                                <span>
                                    Tools
                                </span>
                                <span class="border-bt-hover" style="background-color: #fff;"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="home-new-product-tab">
            <div class="container">
                <div class="project-hot">
                    <div class="widget-title">
                        <h3 class="box-title">
                            <span class="title">
                                <span class="lang1">
                                    Sản phẩm mới
                                </span>
                            </span>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="products-items">
                        <div class="bxslider">
                            {% for row in productsNew %}
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_220_220') }}"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="{{ row.getName() }}" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a href="{{ path('product_show', {'slug': row.getUrl() }) }}" title="{{ row.getName() }}">
                                                <span>{{ row.getName() }}</span>
                                            </a>
                                        </h5>
                                        {{ 4|rating }}
                                        <div class="price-box">
                                            {% if row.getRegularPrice() is empty and row.getSalePrice() is empty %}
                                                <div class="price-regular">
                                                    <span><span class="money">Liên hệ</span></span>
                                                </div>
                                            {% elseif row.getRegularPrice() > 0 and row.getSalePrice() > 0 %}
                                                <div class="price-sale">
                                                    <span class="old-price"><span class="money">{{ row.getRegularPrice()|number_format(0, ',', '.') }}</span></span>
                                                    <span class="special-price"><span class="money">{{ row.getSalePrice()|number_format(0, ',', '.') }}</span></span>
                                                </div>
                                            {% elseif row.getRegularPrice() > 0 and row.getSalePrice() is empty %}
                                                <div class="price-regular">
                                                    <span><span class="money">{{ row.getRegularPrice()|number_format(0, ',', '.') }}</span></span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">Liên hệ</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/products/1-compressor_1024x1024.png?v=1574408992"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">860.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/products/1-compressor_1024x1024.png?v=1574408992"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">860.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home-new-product-tab">
            <div class="container">
                <div class="project-hot">
                    <div class="widget-title">
                        <h3 class="box-title">
                            <span class="title">
                                <span class="lang1">
                                    Sản phẩm nổi bật
                                </span>
                            </span>
                        </h3>
                    </div>

                    <div class="clearfix"></div>

                    <div class="products-items">
                        <div class="bxslider">
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-sale">
                                                <span class="old-price"><span class="money">320.000</span></span>
                                                <span class="special-price"><span class="money">300.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">Liên hệ</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/products/1-compressor_1024x1024.png?v=1574408992"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">860.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-item">
                                <div class="products-item-wrapper">
                                    <div class="media-thumb">
                                        <picture>
                                            <img
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/products/1-compressor_1024x1024.png?v=1574408992"
                                                class="mr-3 img-thumbnail lazyload"
                                                alt="" />
                                        </picture>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">
                                            <a title="" href="#" title="">
                                                <span>Ainterdu pretium de miancelos dincidunts</span>
                                            </a>
                                        </h5>
                                        <div class="rating">
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                            <div class="star-full "></div>
                                        </div>
                                        <div class="price-box">
                                            <div class="price-regular">
                                                <span><span class="money">860.000</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% for blockOnHomepage in blocksOnHomepage %}
        <section class="home-spotlight-block">
            <div class="container">
                <div>
                    <div class="widget-title">
                        <h3 class="box-title">
                            <span class="title">
                                <span class="lang1">
                                    {{ blockOnHomepage.category.getName() }}
                                </span>
                            </span>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        {% for row in blockOnHomepage.posts %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="spotlight-item">
                                <div class="img-box">
                                    <a href="" class="animate-scale">
                                        <img 
                                            class="lazyload"
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            data-src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_377_416') }}"
                                            alt="{{ row.getTitle() }}" >
                                    </a>
                                </div>
                                <div class="content spotlight-inner">
                                    <div class="content-title">
                                        <h4 class="title">
                                            <span>{{ row.category.getName() }}</span>
                                        </h4>
                                        <h3 class="title">
                                            <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                                                <span>{{ row.getTitle() }}</span>
                                            </a>
                                        </h3>
                                    </div>
                                    <p class="des">
                                        <span>
                                            {{ row.getDescription() }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="spotlight-item">
                                <div class="img-box">
                                    <a href="" class="animate-scale">
                                        <img data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/home-bottom-banner-new-1-compressor_800x800_crop_center.jpg?v=1574405565" alt="cospora-theme" itemprop="logo" class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="380px" src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/home-bottom-banner-new-1-compressor_800x800_crop_center.jpg?v=1574405565">
                                    </a>
                                </div>
                                <div class="content spotlight-inner">
                                    <div class="content-title">
                                        <h4 class="title">
                                            <span>Tư vấn</span>
                                        </h4>
                                        <h3 class="title">
                                            <a href="">
                                                <span>Kem dưỡng trắng da Saffron Lever Ayush Ấn Độ</span>
                                            </a>
                                        </h3>
                                    </div>
                                    <p class="des">
                                        <span>
                                            Kem dưỡng da Saffron Ấn Độ Lever Ayush là sự hòa quyện tinh túy giữa Saffron và Kumkumadi Tailam dựa theo phương pháp Ayurveda...
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="spotlight-item">
                                <div class="img-box">
                                    <a href="" class="animate-scale">
                                        <img data-src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/home-bottom-banner-new-1-compressor_800x800_crop_center.jpg?v=1574405565" alt="cospora-theme" itemprop="logo" class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="380px" src="https://cdn.shopify.com/s/files/1/0270/5873/3109/files/home-bottom-banner-new-1-compressor_800x800_crop_center.jpg?v=1574405565">
                                    </a>
                                </div>
                                <div class="content spotlight-inner">
                                    <div class="content-title">
                                        <h4 class="title">
                                            <span>Tư vấn làm đẹp</span>
                                        </h4>
                                        <h3 class="title">
                                            <a href="">
                                                <span>
                                                    Kem dưỡng trắng da Saffron Lever Ayush Ấn Độ
                                                </span>
                                            </a>
                                        </h3>
                                    </div>
                                    <p class="des">
                                        <span>
                                            Kem dưỡng da Saffron Ấn Độ Lever Ayush là sự hòa quyện tinh túy giữa Saffron và Kumkumadi Tailam dựa theo phương pháp Ayurveda...
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
{% endblock %}