{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungminhduy.com/",
        "logo": "https://xaydungminhduy.com/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84982969379",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungminhduy.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungminhduy.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Minh Duy",
        "url": "https://xaydungminhduy.com/",
        "sameAs": [
            "{{ get_setting('linkToFacebook') }}",
            "{{ get_setting('linkToTwitter') }}",
            "{{ get_setting('linkToYoutube') }}",
            "{{ get_setting('linkToLinkedin') }}"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        {{ include('news/components/listPrices.html.twig') }}

        <div class="wrapper-container-item why-choose-us">
            <div class="container">
                <div class="row">
                    <h2 class="text-center text-uppercase why-choose-us-title">Cam kết của chúng tôi</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-american-sign-language-interpreting"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Không bán thầu</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết không bán thầu, công ty tự thiết kế và thi công</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-exclamation-triangle"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Không dùng hàng giả</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết không dùng hàng giả, hàng kém chất lượng trong thi công</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Thi công đúng tiến độ</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết thi công đúng tiến độ đề ra, đảm bảo chất lượng thi công</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-globe"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Báo giá miễn phí, tận nơi</h2>
                                <div class="marketing-container">
                                    <p>Báo giá xây dựng nhà phố, biệt thự, sửa chữa nhà miễn phí, nhanh chóng, tận nơi, làm việc 24/7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Bảng báo giá xây dựng nhà, sửa chữa nhà của chúng tôi hợp lý, rõ ràng từng vấn đề, cạnh tranh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-users"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Đội ngũ chuyên nghiệp</h2>
                                <div class="marketing-container">
                                    <p>Bạn sẽ được làm việc cùng đội ngũ kiến trúc sư, kĩ sư, tổ thợ chuyên nghiệp, nhiều kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-gem"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Cam kết bảo hành</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi luôn cam kết bảo hành công trình thi công lâu dài, đồng hành cùng quý khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-lightbulb"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Sáng tạo trong thiết kế</h2>
                                <div class="marketing-container">
                                    <p>Những kỹ sư thiết kế về kiến trúc và nội thất có kinh nghiệm sẽ đưa đến những ý tưởng sáng tạo cho ngôi nhà của bạn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-bullhorn"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Không phát sinh phí</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết đến toàn thể quý khách hàng không phát sinh phí trong quá trình xây dựng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
            {% if blockOnHomepage.category.getId() != 10 and blockOnHomepage.category.getId() != 11 and blockOnHomepage.category.getId() != 12 %}
                <div class="wrapper-container-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-list-news-items">
                                <h1 class="text-center text-uppercase">
                                    <img alt="{{ blockOnHomepage.category.getName() }}" src="{{ asset('assets/images/icon-logo.png') }}" />
                                    <i class="fas fa-angle-right"></i>
                                    {{ blockOnHomepage.category.getName() }}
                                </h1>
                                <span class="text-center block-underline"></span>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="col-md-12 list-news-items">
                                <div class="row">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridHomepage.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="wrapper-container-item project-hot">
                    <div class="container">
                        <div class="row project-hot">
                            <div class="col-md-12 title-list-news-items">
                                <h1 class="text-center text-uppercase">
                                    <img alt="{{ blockOnHomepage.category.getName() }}" src="{{ asset('assets/images/icon-logo.png') }}" />
                                    <i class="fas fa-angle-right"></i>
                                    Dự án {{ blockOnHomepage.category.getName() }}
                                </h1>
                                <span class="text-center block-underline"></span>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="clearfix"></div>

                            <div class="list-news-items">
                                <div class="bxslider">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridSlide.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="row hidden">
            <div class="col-md-12 title-list-news-items">
                <h1 class="text-center text-uppercase">Dự toán chi phí xây dựng</h1>
                <span class="text-center block-underline"></span>
                <p>Dễ dàng dự toán chi phí trước khi xây dựng nhà cùng công ty Xây Dựng Minh Duy</p>
            </div>
            <div class="col-md-12">
                {{ render(controller(
                    'AppBundle:News:caculatorCostConstruction', {type: 'page'}
                )) }}
            </div>
        </div>
    </div>
{% endblock %}