{% extends 'layout.html.twig' %}

{% block body %}
<div class="wrapper-body wrapper-container" id="PageContainer">
    <div class="main-content" id="MainContent">
        <div class="product-template product-template-default">
            <div class="container">
                {{ include('news/components/breadcrumbs.html.twig') }}

                <div class="halo-product-content">
                    <div class="row pro-page">
                        <div id="shopify-section-sidebar-section" class="shopify-section col-12 col-xl-3 col-sidebar">
                            <div class="sidebar">
                                <div class="widget sidebar-links">
                                    <div class="widget-title">
                                        <h3 class="sidebar-title">
                                            <span>
                                                Danh mục sản phẩm
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="widget-content">
                                        <ul>
                                            <li class="sidebar-link-lv1 dropdown">
                                                <p class="link-action-wrapper">
                                                    <a href="/collections/lorem-dorus">
                                                        <span>
                                                            Chăm sóc da
                                                        </span>
                                                    </a>
                                                </p>
                                            </li>
                                            <li class="sidebar-link-lv1">
                                                <p class="link-action-wrapper">
                                                    <a href="/collections/all">
                                                        <span>
                                                            Chăm sóc tóc
                                                        </span>
                                                    </a>
                                                </p>
                                            </li>
                                            <li class="sidebar-link-lv1">
                                                <p class="link-action-wrapper">
                                                    <a href="#">
                                                        <span>
                                                            Chăm sóc sức khỏe
                                                        </span>
                                                    </a>
                                                </p>
                                            </li>
                                            <li class="sidebar-link-lv1">
                                                <p class="link-action-wrapper">
                                                    <a href="#">
                                                        <span>
                                                            Mẹ và bé
                                                        </span>
                                                    </a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget sidebar-banner">
                                    <img data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/files/custom-image-1-compressor_1024x1024_crop_center.jpg?v=1570096669" src="//cdn.shopify.com/s/files/1/0270/5873/3109/files/custom-image-1-compressor_1024x1024_crop_center.jpg?v=1570096669" alt="cospora-theme" itemprop="logo" class="lazyautosizes lazyloaded" data-sizes="auto" sizes="224px">
                                </div>
                                <div class="widget sidebar-banner">
                                    <img data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/files/custom-image-1-compressor_1024x1024_crop_center.jpg?v=1570096669" src="//cdn.shopify.com/s/files/1/0270/5873/3109/files/custom-image-1-compressor_1024x1024_crop_center.jpg?v=1570096669" alt="cospora-theme" itemprop="logo" class="lazyautosizes lazyloaded" data-sizes="auto" sizes="224px">
                                </div>
                            </div>
                        </div>

                        <div id="shopify-section-product-template-default" class="shopify-section col-12 col-xl-9 col-main">
                            <div id="ProductSection-product-template-default">
                                <div class="product product-default">
                                    <div class="row product_top horizontal-tabs">
                                        <div class="col-md-6 product-photos">
                                            <div class="product-img-box horizontal-moreview">
                                                <div class="wrapper-images">
                                                    <div class="slider slider-for">
                                                        <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_1024x1024.png?v=1574410733" /></div>
                                                        <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_1024x1024.png?v=1574410733" /></div>
                                                        <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_1024x1024.png?v=1574410733" /></div>
                                                        <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_1024x1024.png?v=1574410733" /></div>
                                                        <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_1024x1024.png?v=1574410733" /></div>
                                                    </div>
                                                </div>
                                                <div class="slider slider-nav">
                                                    <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_compact.png?v=1574410733"/></div>
                                                    <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_compact.png?v=1574410733"/></div>
                                                    <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_compact.png?v=1574410733"/></div>
                                                    <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_compact.png?v=1574410733"/></div>
                                                    <div><img src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/16-compressor_c0523920-5696-408e-bcb9-ff039fc4e3ee_compact.png?v=1574410733"/></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 product-shop">
                                            <h1 class="product-title">
                                                <span>
                                                    {{ product.getName() }}
                                                </span>
                                            </h1>
                                            <div class="group_item">
                                                <span class="spr-badge">
                                                    {{ 4|rating }}
                                                </span>
                                            </div>
                                            <div class="prices">
                                                {% if product.getRegularPrice() is empty and product.getSalePrice() is empty %}
                                                    <div class="price-regular">
                                                        <span><span class="money">Liên hệ</span></span>
                                                    </div>
                                                {% elseif product.getRegularPrice() > 0 and product.getSalePrice() > 0 %}
                                                    <div class="price-sale">
                                                        <span class="old-price"><span class="money">{{ product.getRegularPrice()|number_format(0, ',', '.') }}</span></span>
                                                        <span class="special-price"><span class="money">{{ product.getSalePrice()|number_format(0, ',', '.') }}</span></span>
                                                    </div>
                                                {% elseif product.getRegularPrice() > 0 and product.getSalePrice() is empty %}
                                                    <div class="price-regular">
                                                        <span><span class="money">{{ product.getRegularPrice()|number_format(0, ',', '.') }}</span></span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="short-description">
                                                {{ product.getDescription() }}
                                            </div>
                                            <div class="share_toolbox">  
                                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                                <div class="addthis_inline_share_toolbox_4ahk"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_bottom">
                                        <div class="tabs__product-page horizontal-tabs">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#product-tab1">Thông tin sản phẩm</a></li>
                                                <li><a data-toggle="tab" href="#product-tab2">Khách hàng đánh giá</a></li>
                                                <li><a data-toggle="tab" href="#product-tab3">Giao hàng và trả hàng</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="product-tab1" class="tab-pane fade in active">
                                                    {{ product.getContents()|raw }}
                                                </div>
                                                <div id="product-tab2" class="tab-pane fade">
                                                    {{ 4|rating }}
                                                </div>
                                                <div id="product-tab3" class="tab-pane fade">
                                                    {{ shippingAndReturn.getContents()|raw }}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="product-recommendations">
                                            <div>
                                                <div class="related-products page-width product-recommendations js-product-recomendation">
                                                    <div class="widget-title">
                                                        <h3 class="box-title">
                                                            <span class="title">
                                                                <span class="lang1">
                                                                    Sản phẩm cùng danh mục
                                                                </span>
                                                            </span>
                                                        </h3>
                                                    </div>
                                                    <div class="widget-product">
                                                        <div class="products-grid grid grid--uniform grid--view-items row products-items">
                                                            <div class="bxslider-recommendations">
                                                                <div class="products-item">
                                                                    <div class="products-item-wrapper">
                                                                        <div class="media-thumb">
                                                                            <picture>
                                                                                <img
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                    data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                                                    class="mr-3 img-thumbnail lazyload"
                                                                                    alt="" />
                                                                            </picture>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <h5 class="mt-0 mb-1">
                                                                                <a title="" href="#" title="">
                                                                                    <span>Ainterdu pretium de miancelos dincidunts</span>
                                                                                </a>
                                                                            </h5>
                                                                            <div class="rating">
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                            </div>
                                                                            <div class="price-box">
                                                                                <div class="price-regular">
                                                                                    <span><span class="money">Liên hệ</span></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="products-item">
                                                                    <div class="products-item-wrapper">
                                                                        <div class="media-thumb">
                                                                            <picture>
                                                                                <img
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                    data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                                                    class="mr-3 img-thumbnail lazyload"
                                                                                    alt="" />
                                                                            </picture>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <h5 class="mt-0 mb-1">
                                                                                <a title="" href="#" title="">
                                                                                    <span>Ainterdu pretium de miancelos dincidunts</span>
                                                                                </a>
                                                                            </h5>
                                                                            <div class="rating">
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                            </div>
                                                                            <div class="price-box">
                                                                                <div class="price-regular">
                                                                                    <span><span class="money">Liên hệ</span></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="products-item">
                                                                    <div class="products-item-wrapper">
                                                                        <div class="media-thumb">
                                                                            <picture>
                                                                                <img
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                    data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                                                    class="mr-3 img-thumbnail lazyload"
                                                                                    alt="" />
                                                                            </picture>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <h5 class="mt-0 mb-1">
                                                                                <a title="" href="#" title="">
                                                                                    <span>Ainterdu pretium de miancelos dincidunts</span>
                                                                                </a>
                                                                            </h5>
                                                                            <div class="rating">
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                            </div>
                                                                            <div class="price-box">
                                                                                <div class="price-regular">
                                                                                    <span><span class="money">Liên hệ</span></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="products-item">
                                                                    <div class="products-item-wrapper">
                                                                        <div class="media-thumb">
                                                                            <picture>
                                                                                <img
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                                                    data-src="//cdn.shopify.com/s/files/1/0270/5873/3109/products/11-compressor_076662b4-fa80-4ebb-97f6-f26db5adec01_300x.png?v=1574410402"
                                                                                    class="mr-3 img-thumbnail lazyload"
                                                                                    alt="" />
                                                                            </picture>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <h5 class="mt-0 mb-1">
                                                                                <a title="" href="#" title="">
                                                                                    <span>Ainterdu pretium de miancelos dincidunts</span>
                                                                                </a>
                                                                            </h5>
                                                                            <div class="rating">
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                                <div class="star-full "></div>
                                                                            </div>
                                                                            <div class="price-box">
                                                                                <div class="price-regular">
                                                                                    <span><span class="money">Liên hệ</span></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}