<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Thông tin</h3>
                <div>
                    <p>Thực Phẩm Organic chuyên cung cấp các loại trái cây sấy khô tự nhiên và organic hàng nhập từ Mỹ. Ngoài trái cây sấy còn có các loại hạt , bánh</p>
                    <p>118/10B Đông Hưng Thuận 5, Tân Hưng Thuận, Q.12</p>
                    <p>Call us at: 0909 356 718</p>
                    <p>Email: lilyhouse.hotro@gmail.com</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Danh mục</h3>
                <ul class="about-us">
                    <li>
                        <a href="{{ path('shop') }}" title="Chăm sóc da">Cửa hàng Lily House</a>
                    </li>
                    <li>
                        <a href="{{ path('shop_category', {'level1': 'cham-soc-da' }) }}" title="Chăm sóc da">Chăm sóc da</a>
                    </li>
                    <li>
                        <a href="{{ path('shop_category', {'level1': 'cham-soc-toc' }) }}" title="Chăm sóc tóc">Chăm sóc tóc</a>
                    </li>
                    <li>
                        <a href="{{ path('shop_category', {'level1': 'cham-soc-suc-khoe' }) }}" title="Chăm sóc sức khỏe">Chăm sóc sức khỏe</a>
                    </li>
                    <li>
                        <a href="{{ path('shop_category', {'level1': 'me-va-be' }) }}" title="Mẹ và bé">Mẹ và bé</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Hỗ trợ</h3>
                <ul class="about-us">
                    <li>
                        <a href="{{ path('news_show', {'slug': 'chinh-sach-bao-hanh' }) }}" title="Chính sách bảo hành">Chính sách bảo hành</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', {'slug': 'tuyen-dai-ly-cong-tac-vien' }) }}" title="Tuyển đại lý, cộng tác viên">Tuyển đại lý, cộng tác viên</a>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Fanpage</h3>
                <div>
                    <div class="fb-page"
                        data-href="https://www.facebook.com/lilyhouse.fanpage/"
                        data-tabs="timeline"
                        data-width="555"
                        data-height="277"
                        data-small-header="true"
                        data-adapt-container-width="true"
                        data-hide-cover="true"
                        data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/lilyhouse.fanpage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lilyhouse.fanpage/">Lily House</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-middle">
            <div class="col-12 col-md-12 col-lg-12 copyright">
                <p class="text-center">Copyright © {{ "now"|date('Y') }} <a href="{{ path('homepage') }}" title="Lily House">Lily House</a>, all rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->