<!doctype html>
<html ⚡ lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}</title>
        <meta name="description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}">
        <meta name="keywords" content="{{ post.getPageKeyword() }}">
        <link rel="canonical" href="{{ url('news_show', { slug: post.getUrl() }) }}">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ absolute_url(path('news_show', {'slug': post.getUrl() })) }}"
            },
            "headline": "{{ post.getTitle() }}",
            "datePublished": "{{ post.getCreatedAt()|date("Y-m-d h:m:s") }}",
            "dateModified": "{{ post.getUpdatedAt()|date("Y-m-d h:m:s") }}",
            "image": [
                "{{ (vich_uploader_asset(post, 'imageFile') ? app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) : absolute_url(asset('assets/images/no-image.png'))) | imagine_filter('news_382_285') }}"
            ],
            "author": {
                "@type": "Person",
                "name": "{{ get_setting('siteName') }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ get_setting('siteName') }}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('assets/images/logo.png')) }}"
                }
            }
        }
        </script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "CreativeWorkSeries",
                "name": "{{ post.getTitle() }}",
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "{{ rating }}",
                    "ratingCount": "{{ ratingCount ? ratingCount : 1 }}",
                    "bestRating" : "5",
                    "worstRating": "1"
                }
            }
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <style amp-boilerplate>
            {% include '@amp_theme/css/amp-boilerplate.html.twig' %}</style>
        {% include '@amp_theme/css/amp-boilerplate-noscript.html.twig' %}
        <style amp-custom>
            {% include '@amp_theme/css/amp-custom.html.twig' %}</style>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
        <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
        <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
        <script async custom-element="amp-addthis" src="https://cdn.ampproject.org/v0/amp-addthis-0.1.js"></script>
    </head>
    <body>
        <amp-analytics type="gtag" data-credentials="include">
            <script type="application/json">
            {
                "vars" : {
                    "gtag_id": "UA-53125909-3",
                    "config" : {
                        "UA-53125909-3": { "groups": "default" }
                    }
                }
            }
            </script>
        </amp-analytics>
        <amp-animation id="showAnim" layout="nodisplay">
            <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [
                        {
                        "selector": "#scrollToTopButton",
                        "keyframes": [
                            { "opacity": "1", "visibility": "visible" }
                        ]
                        }
                    ]
                    }
            </script>
        </amp-animation>
        <amp-animation id="hideAnim" layout="nodisplay">
            <script type="application/json">
                {
                    "duration": "200ms",
                    "fill": "both",
                    "iterations": "1",
                    "direction": "alternate",
                    "animations": [
                        {
                        "selector": "#scrollToTopButton",
                        "keyframes": [
                            { "opacity": "0", "visibility": "hidden" }
                        ]
                        }
                    ]
                }
            </script>
        </amp-animation>

        <div class="wrapper-container">
            <header role="banner" id="top">
                <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay">
                </amp-position-observer>
                <a href="{{ path('homepage') }}" class="header-link">
                    <amp-img
                        alt="{{ get_setting('siteName') }}"
                        src="{{ asset('assets/images/logo.png') }}"
                        width="308"
                        height="62"
                        layout="responsive"
                    >
                    </amp-img>
                </a>
            </header>

            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox"/>
                    <span></span>
                    <span></span>
                    <span></span>
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {
                        'allow_safe_labels': true,
                    })|raw }}
                </div>
            </nav>

            {{ include('news/components/breadcrumbs.html.twig') }}

            <article role="article">
                <h1>{{ post.title }}</h1>
                <div class="article-content">
                    {{ contentsAmp|raw }}
                </div>

                {# List tags #}
                {{ include('amp/amp-theme/tags.html.twig') }}

                {# Rating and Share #}
                <div class="rating-share-container">
                    {{ include('amp/amp-theme/share.html.twig') }}
                </div>

                {# List comments #}
                {{ include('amp/amp-theme/related.html.twig') }}

                {# List comments #}
                {{ include('amp/amp-theme/list.html.twig') }}
            </article>

            <footer>
                <div class="container">
                    <div class="row footer-top">
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Dịch vụ của chúng tôi</h3>
                            <ul class="about-us">
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'gioi-thieu' }) }}">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Bảng giá xây nhà trọn gói">Bảng giá xây nhà trọn gói</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Bảng giá sửa nhà trọn gói">Bảng giá sửa nhà trọn gói</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Bảng giá xây dựng nhà phần thô">Bảng giá xây dựng nhà phần thô</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-nhan-cong' }) }}" title="Bảng giá nhân công">Bảng giá nhân công</a>
                                </li>
                                <li>
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-thiet-ke-nha-pho' }) }}" title="Bảng giá thiết kế nhà phố">Bảng giá thiết kế nhà phố</a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Từ khóa</h3>
                            {{ get_setting('topKeyword')|raw }}
                        </div>
                        <div class="col-12 col-md-12 col-lg-4">
                            <h3 class="text-uppercase">Xây Dựng Minh Duy</h3>
                            <ul class="footer-company">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>10E3 Đường 30, P. Tân Phong, Quận 7, TP.HCM</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>0982.969.379</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <span>xaydungminhduy@gmail.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-internet-explorer"></i>
                                    <span>www.xaydungminhduy.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row footer-middle">
                        <div class="col-12 col-md-12 col-lg-3 hidden-xs hidden-sm">
                            <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                                <amp-img
                                    alt="{{ get_setting('siteName') }}"
                                    src="{{ asset('assets/images/logo-footer.png') }}"
                                    width="297"
                                    height="209"
                                    layout="responsive"
                                >
                                </amp-img>
                            </a>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6">
                            <h3 class="text-uppercase">Về chúng tôi</h3>
                            <div class="footer-text-wrap">
                                <p>Xây Dựng Minh Duy với kinh nghiệm thi công nhiều công trình lớn nhỏ tại TP Hồ Chí Minh và các tỉnh thành lân cận: Củ Chi, Long An, Bình Dương, Đồng Nai, ... Chúng tôi tự tin mang đến sự hài lòng đến toàn thể quý khách hàng khi tin tưởng đến tất cả các dịch vụ xây dựng của chúng tôi.</p>
                                <p>Uy tín, chất lượng và chuyên nghiệp là những gì chúng tôi sẽ và luôn mang đến cho khách hàng!</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-3">
                            <h3 class="text-uppercase">Mạng xã hội</h3>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Sửa Nhà Minh Duy trên Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Sửa Nhà Minh Duy trên Google plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Sửa Nhà Minh Duy trên Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Sửa Nhà Minh Duy trên Youtube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </span>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Sửa Nhà Minh Duy trên Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </span>
                            <div class="event-footer row">
                                <div class="col-12 col-sm-12 col-md-12">
                                    <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                                        <meta content="➊ Bảng giá sửa nhà trọn gói tại TP HCM" itemprop="name">
                                        <meta content="➊ Bảng giá sửa nhà trọn gói tại TP HCM" itemprop="description">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" itemprop="url">
                                                <span>➊ Bảng giá sửa nhà trọn gói tại TP HCM</span>
                                            </a>
                                        </h6>
                                        <meta content="2021-01-01T4:00-05:00" itemprop="startDate">
                                        <meta content="2022-01-01T4:00-05:00" itemprop="endDate">
                                        <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                                        <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                                        <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                            <meta content="☎️ Báo Giá 0982.969.379" itemprop="name">
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <meta content="10E3 Đường 30, P. Tân Phong, Quận 7" itemprop="streetAddress">
                                                <meta content="Ho Chi Minh" itemprop="addressLocality">
                                                <meta content="VN" itemprop="addressRegion">
                                                <meta content="70000" itemprop="postalCode">
                                            </div>
                                        </div>
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <meta content="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" itemprop="url">
                                            <meta content="0" itemprop="price">
                                            <meta content="VND" itemprop="priceCurrency">
                                            <meta content="https://schema.org/InStock" itemprop="availability">
                                            <meta content="2021-01-01T4:00" itemprop="validFrom">
                                        </div>
                                        <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                        </div>
                                        <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                            <meta content="https://xaydungminhduy.com/" itemprop="url">
                                        </div>
                                    </div>
                                    <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                                        <meta content="➋ Bảng giá xây nhà trọn gói tại TP HCM" itemprop="name">
                                        <meta content="➋ Bảng giá xây nhà trọn gói tại TP HCM" itemprop="description">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" itemprop="url">
                                                <span>➋ Bảng giá xây nhà trọn gói tại TP HCM</span>
                                            </a>
                                        </h6>
                                        <meta content="2021-02-02T5:00-05:00" itemprop="startDate">
                                        <meta content="2022-02-02T5:00-05:00" itemprop="endDate">
                                        <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                                        <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                                        <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                            <meta content="☎️ Báo Giá 0982.969.379" itemprop="name">
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <meta content="10E3 Đường 30, P. Tân Phong, Quận 7" itemprop="streetAddress">
                                                <meta content="Ho Chi Minh" itemprop="addressLocality">
                                                <meta content="VN" itemprop="addressRegion">
                                                <meta content="70000" itemprop="postalCode">
                                            </div>
                                        </div>
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <meta content="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" itemprop="url">
                                            <meta content="4300000" itemprop="price">
                                            <meta content="VND" itemprop="priceCurrency">
                                            <meta content="https://schema.org/InStock" itemprop="availability">
                                            <meta content="2021-02-02T5:00" itemprop="validFrom">
                                        </div>
                                        <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                        </div>
                                        <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                            <meta content="https://xaydungminhduy.com/" itemprop="url">
                                        </div>
                                    </div>
                                    <div class="event-footer-item" itemtype="http://schema.org/Event" itemscope="">
                                        <meta content="➌ Dịch vụ xây nhà trọn gói tại TP HCM" itemprop="name">
                                        <meta content="➌ Dịch vụ xây nhà trọn gói tại TP HCM" itemprop="description">
                                        <h6>
                                            <a href="{{ path('news_show', {'slug': 'xay-nha-tron-goi' }) }}" itemprop="url">
                                                <span>➌ Dịch vụ xây nhà trọn gói tại TP HCM</span>
                                            </a>
                                        </h6>
                                        <meta content="2021-03-03T6:00-05:00" itemprop="startDate">
                                        <meta content="2022-03-03T6:00-05:00" itemprop="endDate">
                                        <meta content="https://schema.org/OnlineEventAttendanceMode" itemprop="eventAttendanceMode">
                                        <meta content="https://schema.org/EventScheduled" itemprop="eventStatus">
                                        <meta content="{{ asset('assets/images/logo.png') }}" itemprop="image">
                                        <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                                            <meta content="☎️ Báo Giá 0982.969.379" itemprop="name">
                                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <meta content="10E3 Đường 30, P. Tân Phong, Quận 7" itemprop="streetAddress">
                                                <meta content="Ho Chi Minh" itemprop="addressLocality">
                                                <meta content="VN" itemprop="addressRegion">
                                                <meta content="70000" itemprop="postalCode">
                                            </div>
                                        </div>
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                            <meta content="{{ path('news_show', {'slug': 'xay-nha-tron-goi' }) }}" itemprop="url">
                                            <meta content="4300000" itemprop="price">
                                            <meta content="VND" itemprop="priceCurrency">
                                            <meta content="https://schema.org/InStock" itemprop="availability">
                                            <meta content="2021-03-03T6:00" itemprop="validFrom">
                                        </div>
                                        <div itemprop="performer" itemscope itemtype="http://schema.org/Person">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                        </div>
                                        <div itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                                            <meta content="Xây Dựng Minh Duy" itemprop="name">
                                            <meta content="https://xaydungminhduy.com/" itemprop="url">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-sm-12 text-center">
                            <p>Copyright © {{ "now"|date('Y') }} <a href="https://xaydungminhduy.com/" title="Xây Dựng Minh Duy">Xây Dựng Minh Duy</a>, all rights reserved.</p>
                        </div>
                    </div>
                </div>

                <button class="td-scroll-up go-to-top td-scroll-up-visible hidden scrollToTop" id="scrollToTopButton" on="tap:top.scrollTo(duration=200)">
                    <i class="fa fa-chevron-up"></i>
                </button>

                <aside class="floating container hidden-sm hidden-md hidden-lg">
                    <section class="row inside cover">
                        <a class="call-now col-xs-6" href="tel:0982969379" title="Hotline: 0982969379">
                            <div>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>Hotline</span>
                                <strong>0982.969.379</strong>
                            </div>
                        </a>
                        <a class="chat-us col-xs-6" href="mailto:xaydungminhduy@gmail.com">
                            <div>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>Gửi yêu cầu</span>
                                <strong>báo giá</strong>
                            </div>
                        </a>
                    </section>
                </aside>
            </footer>
        </div>
    </body>
</html>

