<div class="{% if hasContainer is defined %}{% else %}container{% endif %}">
    <div class="row bang-gia">
        <div class="one col-12 col-sm-12 col-md-3">
            <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}">
            </a>
        </div>
        <div class="two col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Đơn giá xây nhà trọn gói">
                    <i class="far fa-building"></i>
                    Đơn giá xây nhà trọn gói
                </a>
            </div>
        </div>
        <div class="three col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Đơn giá sửa nhà trọn gói">
                    <i class="fas fa-drafting-compass"></i>
                    Đơn giá sửa nhà trọn gói
                </a>
            </div>
        </div>
        <div class="four col-xs-12 col-sm-4 col-md-3">
            <div>
                <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Đơn giá xây dựng phần thô">
                    <i class="fas fa-tools"></i>
                    Đơn giá xây dựng phần thô
                </a>
            </div>
        </div>
    </div>
</div>